@import "tailwindcss";

@variant mouse (@media (hover: hover));

@layer base {
    * {
        @apply m-0 box-border p-0;
    }

    img,
    video,
    svg {
        @apply block;
    }

    a {
        @apply no-underline;
    }
}

@theme {
    --color-trout-50: #f7f8f8;
    --color-trout-100: #edeef1;
    --color-trout-200: #d7dae0;
    --color-trout-300: #b5bbc4;
    --color-trout-400: #8c96a4;
    --color-trout-500: #6e7989;
    --color-trout-600: #586171;
    --color-trout-700: #4b525f;
    --color-trout-800: #3e434e;
    --color-trout-900: #373b43;
    --color-trout-950: #25272c;

    --color-white-piece: #d6dade;
    --color-black-piece: #282828;

    --color-white-square: #a0b2cb;
    --color-black-square: #8192a9;
    --color-white-green-square: #acc3aa;
    --color-white-red-square: #cca3a3;
    --color-white-blue-square: #81a3d0;
    --color-black-green-square: #83a480;
    --color-black-red-square: #b78686;
    --color-black-blue-square: #638cc1;
}
